.text-field-container.shake .zo2IKa_spectrum-Textfield {
    animation: shake 0.5s ease-in-out;
    border-color: red !important;
    box-shadow: 0 0 8px red;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
  